.parent{
    width: 100%;
    height:1500px;
    background-color:white;
    position:relative;
    background-image:url("./images/forever.png");
    background-size:cover;
    
}
.child1{
    width:86%;
    height:50px;
    background-color:rgb(236, 179, 57);
    position:fixed;
    top:0px;
   
}
.col{
    float:left;
    padding-top:15px;
}
a:hover{
    color:antiquewhite;
}
.col-1{
    margin-left:200px ;
}
.col-2{
    margin-left:130px;
}
.col-3{
    margin-left:130px;
}
.col-4{
    margin-left:130px;
}
.col-5{
    margin-left:130px;
}
button{
    padding-left:20px;
    padding-right:20px;
    height:40px;
    width:100%;
    background-color:rgb(59, 167, 53);
    border-radius:15px;
    color:rgb(235, 240, 233);
}
H1{
   margin-top:60px;
   
    TEXT-ALIGN:CENTER;
    color:rgb(32, 181, 44);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-6{
    background-color:rgb(43, 226, 58);
    background-image:url("./images/cloud.jpg");
    background-size:cover;
    height:600px;
    width:100%;
    text-align:center;
    

    
    
}
.col-7{
    background-color:rgb(226, 43, 180);
    background-image:url("./images/forever.png");
    background-size:cover;
    height:430px;
    width:50%;
    margin-top:15px;
   
    

}
.col-8{
    background-color:rgb(43, 116, 226);
    background-image:url("./images/beauty.jpg");
    background-size:cover;
    height:400px;
    width:49%;
    margin-left:665px;
    margin-top:-400px
}
.col-9{
    background-color:rgb(98, 182, 98);
    height:300px;
    width:75%;
    margin-top:50px

    

}


video{
    margin-top:600px;
    height:250px; width:70%
}


body{
    padding-left:100px;
    padding-right:100px;
}
#b{
    position:absolute;
    top:500px;
    left:600px;
   
}
#u{
    position:absolute;
    top:1000px;
    left:300px;
   
}
#t{
    position:absolute;
    top:1000px;
    left:900px;
   
}
#o{
    position:absolute;
    top:1310px;
    left:500px;
   
}

   

img{
    height:250px;
    width:30%;
    padding-top:20px
}
pre{
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:absolute;
    left:130px;
    top:1200px;
}
p{
    text-align:left;
    /* margin-top: */
    padding:100px;
    font-size:x-large;
   
}
video{
    height:300px;
    width:25%;
    position:absolute;
    top:150px;
    left:800px
    
}
h4{
    
    position:absolute;
    top:100px;
    font-size:xx-large;
    color:green;
    
}
span{
    color:rgb(197, 162, 48);
}
.child4{
    
    height:100px;
    width:100%;
    background-color:rgb(244, 240, 240);
    
   
}
strong{
    padding:8px;
}
.z{
    text-align:center;


   
}
footer{
    position:absolute;
    top:1620px;
}
